@import url('https://fonts.googleapis.com/css2?family=PT+Sans:ital@1&display=swap');

/*index*/

body {
    font-family: "PT Sans", sans-serif;
    font-size: 22px;
    max-width: 1900px;
    margin-left: 0;
}

body > header > section > p{
    display: inline-block;
    width: 1180px;
    padding-left: 20px;
    padding-top: 15px;
}

body > header > section > ul{
    display: inline-block;
}

body > header > section > ul > li{
    display: inline-block;
    padding-left: 15px;
}

body > main > div > hr.my-3.bg-white.w-50{
    margin: auto;
}

body > main > div > img{
    width: 1050px;
    margin-bottom: 0px;
}

/*login*/

#big-div > div{
    padding-top: 50px;
}

#big-div > div{
    padding-left: 50px;
    width: 300px;
    text-align: center;
}

/*register*/

body > form > section{
    padding-left: 50px;
    width: 400px;
    text-align: center;
}

body > form > section > div:nth-child(9){
    padding-top: 10px;
}

body > form > section > div:nth-child(10) > button{
    background-color: black;
}

/*add-product*/

body > form{
    padding-left: 50px;
    width: 400px;
    text-align: center;
}

body > div {
    margin: auto;
}

/*products*/

body > div > section.welcome{
    text-align: center;
    padding-top: 50px;
}

body > div > section.welcome > h1{
    padding-bottom: 30px;
}

body > div > section.deals{
    text-align: center;
    padding-bottom: 25px;
}

body > div > h3 {
    text-align: center;
    padding-top: 120px;
}

/*about*/

body > img {
    padding-left: 380px;
}

body > h1 {
    text-align: center;
}

body > main {
    text-align: center;
}

body > main > div > h2 {
    padding-top: 25px;
    padding-bottom: 25px;
}

/*contact*/

body > h1.breuninger {
    padding-bottom: 15px;
    padding-top: 15px;
}

body > main > h2 {
    padding-bottom: 15px;
}

body > main > h4 {
    padding-bottom: 15px;
}
body > main > h5 {
    padding-bottom: 15px;
}

/*assortment*/

body > div:nth-child(8) {
    text-align: center;
    padding-top: 100px;
}

/*update-product*/

body > div > form > section {
    text-align: center;
    width: 400px;
    margin: auto;
}

/*admin*/

body > h1 {
    padding-bottom: 100px;
}

body > div:nth-child(9) {
    text-align: center;
    padding-top: 75px;
}

/*managers*/

body > h3 {
text-align: center;
}

/*users*/

body > div > div.row.mx-auto.d-flex.flex-row.justify-content-center {
    padding-top: 50px;
}

body > div > div.row.mx-auto.d-flex.flex-row.justify-content-center > div {
    text-align: center;
}