@import url('https://fonts.googleapis.com/css2?family=PT+Sans:ital@1&display=swap');

body {
    font-family: "PT Sans", sans-serif;
    font-size: 22px;
    max-width: 1900px;
    margin-left: 0;

}

body > header > section > p{
    display: inline-block;
    width: 1180px;
    padding-left: 20px;
    padding-top: 15px;
}
body > header > section > ul{
    display: inline-block;
}
body > header > section > ul > li{
    display: inline-block;
    padding-left: 15px;
}

body > main > div > hr.my-3.bg-white.w-50{
    margin-left: 0;
}
body > main > div > hr.my-3.bg-white.w-50{
    margin-left: 0;
}
body > main > div > img{
    width: 1050px;
    margin-bottom: 0px;
}
/*login*/

#big-div > div{
    padding-top: 50px;
}
#big-div > div{
    padding-left: 50px;
    width: 300px;
    text-align: center;
}

/*register*/

body > form > section{
    padding-left: 50px;
    width: 400px;
    text-align: center;
}
body > form > section > div:nth-child(9){
    padding-top: 10px;
}
body > form > section > div:nth-child(10) > button{
    background-color: black;
}

/*add-product*/
body > form{
    padding-left: 50px;
    width: 400px;
    text-align: center;
}

/*products-all*/

body > div > section.welcome{
    text-align: center;
    padding-top: 50px;
}

body > div > section.welcome > h1{
    padding-bottom: 30px;
}

body > div > section.deals{
    text-align: center;
    padding-bottom: 25px;
}

/*add picture*/
body > main > div:nth-child(3) {
    width: 400px;
    margin: auto;
}
body > main > div:nth-child(4) {
    width: 400px;
    margin: auto;
}