@import url('https://fonts.googleapis.com/css2?family=PT+Sans:ital@1&display=swap');

body {
    font-family: "PT Sans", sans-serif;
    font-size: 22px;
    max-width: 1900px;
    margin-left: 0;

}
body {
    background-image: url(/images/Confiserie_3520_main.jpg);
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    margin-bottom: 5rem;
}

body > header > section > p{
    display: inline-block;
    width: 1385px;
    padding-left: 20px;
    padding-top: 15px;
}
body > header > section > ul{
    display: inline-block;
}
body > header > section > ul > li{
    display: inline-block;
    padding-left: 15px;
}

body > main > div > hr.my-3.bg-white.w-50{
    margin-left: 0;
}
body > main > div > hr.my-3.bg-white.w-50{
    margin-left: 0;
}

/*login*/

body{
    padding-top: 15px;
}
body > section > form{
    padding-left: 50px;
    width: 400px;
    text-align: center;
}
body > section > form > div:nth-child(6) > button{
    background-color: black;
}


/*register*/

body {
    padding-top: 15px;
}
body > form > section{
    padding-left: 50px;
    width: 400px;
    text-align: center;
}
body > form > section > div:nth-child(9){
    padding-top: 10px;
}
body > form > section > div:nth-child(10) > button{
    background-color: black;
}
