<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/head}"></head>
<body>
<nav th:replace="~{fragments/navbar}"></nav>

<h1 class="admin-welcome">Welcome to the admin page</h1>

<section class="gallery">
    <div th:each="a : ${allAdmins}" th:object="${a}">
                <div class="card" style="width: 18rem;">
                    <div class="card-body">
                        <h5 th:text="*{firstName}" class="card-title">First Name</h5>
                        <h5 th:text="*{lastName}" class="card-title">Last Name</h5>
                        <h5 th:text="*{email}" class="card-title">Username</h5>
                    </div>
                </div>
    </div>
</section>
<div>
    <a class="text-primary" href="/users/categories">Get Users</a>
</div>
</body>
<footer th:replace="~{/fragments/footer}"></footer>
</html>