<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/head}"></head>
<body>
<div th:replace="~{fragments/navbar}"></div>
<div class="container-fluid">
    <section class="welcome">
        <h1>Welcome to our online confiserie</h1>
        <p>Here you will find a lot of different sweets made with love for you</p>
    </section>
    <section class="deals">
        <p>Assortment</p>
        <ul class="assortment">
            <li><a href="/assortment/jam">
                <img src="/images/Blackcurrant%20Jam.png" alt="pic">
                <h2>JAMS</h2>
            </a></li>
            <li><a href="/assortment/truffle">
                <img src="/images/Rapsberry%20Truffle.png" alt="pic">
                <h2>TRUFFLE</h2>
            </a></li>
            <li><a href="/assortment/cake">
                <img src="/images/Mango%20Cake.png" alt="pic">
                <h2>CAKE</h2>
            </a></li>
            <li><a href="/assortment/tart">
                <img src="/images/Fruit%20Tart.jpg" alt="pic">
                <h2>TART</h2>
            </a></li>
            <li><a href="/assortment/macarons">
                <img src="/images/Choco%20Macaron.jpg" alt="pic">
                <h2>MACARONS</h2>
            </a></li>
        </ul>
    </section>
</div>
<footer th:replace="~{/fragments/footer}"></footer>
</body>
</html>


