<!DOCTYPE html>
<html lang="en"  xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/head}"></head>
<body>
<img src="/images/og-editorial.jpg" alt="pic">
<h1 class="breuninger">Contact Us</h1>
<main class="contact">
    <h2>Controller for content:</h2>
    <h3>
        E. Breuninger GmbH & Co.

        Marktstraße 1-3

        70173 Stuttgart
    </h3>
    <h4>
        Phone 00800-71 121 100

        Email: onlineshop-lu@breuninger.com

        Contact us Mo. - Sa. from 10:00 a.m. – 6:00 p.m.

        E. Breuninger GmbH & Co.
    </h4>
    <h5>
        Click here to go to our
        <a class="text-primary" href="/"> home page</a>
    </h5>

</main>
<footer th:replace="~{/fragments/footer}"></footer>
</body>
</html>