<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="~{fragments/head}"></head>
<body>
<div th:replace="~{fragments/navbar}"></div>

<main>
    <div sec:authorize="!isAuthenticated()" class="container bg-blur rounded mt-5 ">
        <h1>Welcome to Breuninger Confiserie</h1>
        <hr class="my-3 bg-white w-50"/>

        <p class="h4">
            Since 1951</p>
        <hr class="my-3 bg-white w-50"/>

        <h3>
            Check here our
            <a class="text-primary" href="/users/products"> products</a>
        </h3>
    </div>
</main>
<div>
    <footer class="footer bg-transparent  py-2">
        <div class="container-fluid text-center">
            <div class="footer-background h5 my-text-color fixed-bottom">
                &copy; Lyubomir Velikov 2023
            </div>
        </div>
    </footer>
</div>

</body>
</html>