<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      >
<head th:replace="~{fragments/head}"></head>
<body>
<div th:replace="~{fragments/navbar}"></div>
<div class="container-fluid bg-blur rounded mt-1 mb-4 d-flex justify-content-center" id="big-div">
<div class="col-5">
    <section class="form">

    <form th:method="post"
          th:action="@{/users/login}"
          class="w-25 bg-blur rounded">

        <div>
        <h1 class="text-lg-center mt-2"><span class="badge badge-light badge-dark">Login</span></h1>
        <hr class="hr-3 w-50 bg-white"/>
        </div>

        <div class="form-group">
            <label for="email">Username</label>
            <input name="email" th:value="${email}" type="text" class="form-control" id="email" placeholder="Enter Email" >
        </div>
        <div class="form-group">
            <label for="password">Password</label>
            <input name="password" type="password" class="form-control" id="password" placeholder="Enter Password">
        </div>
        <p th:if="${badCredentials}" class="text-danger">
            Invalid username or password.
        </p>
        <div class="form-group">
            <button type="submit" class="btn btn-primary">Login</button>
        </div>
    </form>
    </section>
</div>
<div class="col-5">
    <img src="/images/Confiserie_3330_main.jpg" alt="pic">
</div>
</div>
<footer th:replace="~{/fragments/footer}"></footer>
</body>
</html>
