<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/head}"></head>
<body>
<!--<header th:replace="fragments/commons::nav"></header>-->
    <section class="form">

    <form class="w-25 bg-blur rounded"
          th:action="@{/users/login}"
          th:method="post"
          th:object="${userLoginDto}"
          >
        <div>
        <h1 class="text-lg-center mt-2"><span class="badge badge-light badge-dark">Login</span></h1>
        <hr class="hr-3 w-25 bg-white"/>
        <!--    Example: Render errors messages with fields.errors - you can make it differently. -->
        <!--    <div th:each="error: ${#fields.errors()}" th:text="${error}" class="text-danger">Error messages</div>-->
        </div>

        <div class="text-danger">Error messages</div>
        <div class="text-danger">Incorrect username or password!</div>

        <div class="form-group">
            <label for="exampleUsername">Username</label>
            <input th:field="*{username}" th:errorclass="bg-white" type="email" class="form-control" id="exampleUsername" placeholder="Enter Username">
            <small th:if="${#fields.hasErrors('username')}" th:errors="*{username}" class="text-danger">Username error message</small>
        </div>
        <div class="form-group">
            <label for="examplePassword">Password</label>
            <input th:field="*{password}" th:errorclass="bg-white" type="password" class="form-control" id="examplePassword" placeholder="Enter Password">
            <small th:if="${#fields.hasErrors('password')}" th:errors="*{password}" class="text-danger">Password error message</small>
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-primary">Login</button>
        </div>
<!--        <div class="form-group">-->
<!--            <div class="label-holder text-dark d-flex justify-content-center">-->
<!--                <label for="username" class="h3 mb-2">Username</label>-->
<!--            </div>-->
<!--            <input type="text" class="form-control" id="username" name="username" placeholder="Enter Username"/>-->
<!--        </div>-->

<!--        <div class="form-group">-->
<!--            <div class="label-holder text-dark d-flex justify-content-center">-->
<!--                <label for="password" class="h3 mb-2">Password</label>-->
<!--            </div>-->
<!--            <input type="password" class="form-control" id="password" name="password" placeholder="Enter Password"/>-->
<!--        </div>-->

<!--        <div class="form-group">-->
<!--            <button type="submit" class="btn btn-primary">Login</button>-->
<!--        </div>-->

    </form>
    </section>
<div>
    <footer class="footer bg-transparent  py-2">
        <div class="container-fluid text-center">
            <div class="footer-background h5 my-text-color fixed-bottom">
                &copy; Lyubomir Velikov 2023
            </div>
        </div>
    </footer>
</div>
</body>
</html>
