<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="~{fragments/head}"></head>
<body>
<nav th:replace="~{fragments/navbar}"></nav>

<h1>Welcome to the manager page</h1>

<h3 th:if="${allManagers.size() == 0}">
    There are no available managers at the moment
</h3>
<div  class="row mx-auto d-flex flex-row justify-content-center">
    <div th:each="m : ${allManagers}" th:object="${m}">
        <div class="card" style="width: 18rem;">
            <div class="card-body">
                <h5 th:text="*{firstName}" class="card-title">First Name</h5>
                <h5 th:text="*{lastName}" class="card-title">Last Name</h5>
                <h5 th:text="*{email}" class="card-title">Username</h5>
            </div>
            <!--                <a sec:authorize="hasRole('ADMIN')" th:href="@{/products/change-product/{id}(id = ${p.id})}" class="btn btn-success">Update Product</a>-->
            <!--                <a class="btn btn-outline-success">Buy</a>-->
            <!--                <form sec:authorize="hasRole('ADMIN')" th:method="delete" th:action="@{/products/delete/{id}(id = *{id})}">-->
            <!--                    <input type="submit" class="btn btn-dark" value="Delete">-->
            <!--                </form>-->
            <div>
                <a sec:authorize="hasRole('ADMIN')" th:href="@{/managers/make-admin/{id}(id = ${m.id})}" class="card-link">Make Admin</a>
                <a sec:authorize="hasRole('ADMIN')" th:href="@{/managers/delete-manager/{id}(id = ${m.id})}" class="card-link">Delete Manager</a>
            </div>
        </div>
    </div>
</div>
<footer th:replace="~{/fragments/footer}"></footer>
</body>
</html>