<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="~{fragments/head}"></head>
<body>
<nav th:replace="~{fragments/navbar}"></nav>

<div class="container-fluid">
    <div class="container text-light text-center">
        <h2 class="text-center text-dark mt-5">Products</h2>
    </div>
    <h3 class="available-products" th:if="${products.size() == 0}">
        There are no available products at the moment
    </h3>
    <div class="products">
        <div th:each="p : ${products}" th:object="${p}">
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <img th:src="*{imageUrl}" class="card-img-top" alt="pic">
                    <h5 th:text="*{name}" class="card-title">Name</h5>
                    <ul class="list-group list-group-flush">
                        <li th:text="*{description}" class="list-group-item">Description</li>
                        <li th:text="'Price: ' + *{price}" class="list-group-item">Price</li>
                        <li th:if="(*{quantity} != 0)" th:text="'Quantity: ' + *{quantity}" class="list-group-item">Quantity</li>
                        <li th:unless="(*{quantity} != 0)" th:text="'Not available'" class="list-group-item">Quantity</li>
                    </ul>
                    <a sec:authorize="hasAnyRole('ADMIN', 'MANAGER')" th:href="@{/products/change-product/{id}(id = ${p.id})}" class="btn btn-success">Update Product</a>
                    <a th:if="(*{quantity} != 0)" th:href="@{/products/buy/{id}(id = ${p.id})}" class="btn btn-outline-success">Choose product</a>
<!--                    <form sec:authorize="hasAnyRole('ADMIN', 'MANAGER')" th:method="delete" th:action="@{/products/delete/{id}(id = ${p.id})}">-->
<!--                        <input type="submit" class="btn btn-dark" value="Delete">-->
<!--                    </form>-->
                </div>
            </div>
        </div>
    </div>
</div>
<footer th:replace="~{/fragments/footer}"></footer>
</body>
</html>