<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/head}"></head>
<body>
<div th:replace="~{fragments/navbar}"></div>

<main class = "mt-3">
    <h1 class="text-center">Add Product</h1>
    <form id="add-article-form" class="form w-25 mx-auto" th:action="@{/products/add}" th:method="post" th:object="${productServiceModel}"
    enctype="multipart/form-data">
        <div class="form-group">
            <label for="name" class="font-weight-light">Name</label>
            <input th:field="*{name}" th:errorclass="bg-white" type="text" class="form-control text-center" id="name" name="name">
            <small th:if="${#fields.hasErrors('name')}" th:errors="*{name}" class="text-danger">Error name</small>
        </div>
        <div class="form-group">
            <label for="description" class="font-weight-light">Description</label>
            <input th:field="*{description}" th:errorclass="bg-white" type="text" class="form-control text-center" id="description" name="description">
            <small th:if="${#fields.hasErrors('description')}" th:errors="*{description}" class="text-danger">Error description</small>
        </div>
        <div class="form-group">
            <label for="price" class="font-weight-light">Price</label>
            <input th:field="*{price}" th:errorclass="bg-white" type="text" class="form-control text-center" id="price" name="price">
            <small th:if="${#fields.hasErrors('price')}" th:errors="*{price}" class="text-danger">Error price</small>
        </div>
        <div class="form-group">
            <label for="quantity" class="font-weight-light">Quantity</label>
            <input type="text" class="form-control text-center" id="quantity" name="quantity">
            <small th:if="${#fields.hasErrors('quantity')}" th:errors="*{quantity}" class="text-danger">Error quantity</small>
        </div>
        <div class="form-group">
            <label for="category" class="font-weight-light">Category</label>

            <select th:field="*{category}" name="category" class="custom-select" id="category">
                <option value="" selected>Category</option>
                <option th:each="c : ${T(com.example.confiserie.model.enums.CategoryEnum).values()}"
                        th:value="${c}" th:text="${c}">Category
                </option>
            </select>
            <small th:if="${#fields.hasErrors('category')}" th:errors="*{category}" class="text-danger">Error category</small>
        </div>
        <div class="form-group">
            <label for="img" class="font-weight-light">Picture</label>
            <input type="file" class="form-control text-center" id="img" name="img" required="required">
        </div>
        <div class="button-holder d-flex justify-content-center">
            <button type="submit" class="btn btn-success">Add</button>
        </div>

    </form>

</main>
<div class="col-5">
    <img src="/images/Confiserie_4097_main.jpg" alt="pic">
</div>
<footer th:replace="~{/fragments/footer}"></footer>
</body>
</html>