<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/head}"></head>
<body>
<div th:replace="~{fragments/navbar}"></div>
<div class="container-fluid bg-blur rounded mt-1 mb-4 d-flex justify-content-center" id="big-div">
    <div class="col-5">
        <section class="form">
            <form class="w-25 bg-blur rounded"
                  th:method="post"
                  th:action="@{/products/add}"
                  th:object="${productAddDto}"
            >

                <div>
                    <h1 class="text-lg-center mt-2"><span class="badge badge-light badge-dark">Add Product</span></h1>
                    <hr class="hr-3 w-25 bg-white"/>
                </div>

                <div class="form-group">
                    <label for="name">Name</label>
                    <input th:field="*{name}" th:errorclass="bg-white" name="name" type="text" class="form-control" id="name" placeholder="Enter Name" >
                    <small th:if="${#fields.hasErrors('name')}" th:errors="*{name}" class="text-danger">Error name</small>
                </div>
                <div class="form-group">
                    <label for="description">Description</label>
                    <input th:field="*{description}" th:errorclass="bg-white" name="description" type="text" class="form-control" id="description" placeholder="Enter Description">
                    <small th:if="${#fields.hasErrors('description')}" th:errors="*{description}" class="text-danger">Error description</small>
                </div>
                <div class="form-group">
                    <label for="price">Price</label>
                    <input th:field="*{price}" th:errorclass="bg-white" name="price" type="text" class="form-control" id="price" placeholder="Enter Price">
                    <small th:if="${#fields.hasErrors('price')}" th:errors="*{price}" class="text-danger">Error price</small>
                </div>
                <div class="form-group">
                    <label for="imageUrl">Image Url</label>
                    <input th:field="*{imageUrl}" th:errorclass="bg-white" name="imageUrl" type="text" class="form-control" id="imageUrl" placeholder="Enter Url">
                    <small th:if="${#fields.hasErrors('imageUrl')}" th:errors="*{imageUrl}" class="text-danger">Error Url</small>
                </div>
                <div class="form-group">
                    <label for="quantity">Quantity</label>
                    <input th:field="*{quantity}" th:errorclass="bg-white" name="quantity" type="text" class="form-control" id="quantity" placeholder="Enter quantity">
                    <small th:if="${#fields.hasErrors('quantity')}" th:errors="*{quantity}" class="text-danger">Error quantity</small>
                </div>
                <div class="form-group">
                    <label for="category">Category</label>
                    <select th:field="*{category}" name="category" class="custom-select" id="category" >
                        <option value="" selected>Category</option>
                        <option th:each="c : ${T(com.example.confiserie.model.enums.CategoryEnum).values()}"
                                th:value="${c}" th:text="${c}">Category
                        </option>
                    </select>
                    <small th:if="${#fields.hasErrors('category')}" th:errors="*{category}" class="text-danger">Error category</small>
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-primary">ADD</button>
                </div>
            </form>
        </section>
    </div>
    <div class="col-5">
        <img src="/images/Confiserie_4097_main.jpg" alt="pic">
    </div>
</div>




<footer th:replace="~{/fragments/footer}"></footer>
</body>
</html>