<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="~{fragments/head}"></head>
<body>
<nav th:replace="~{fragments/navbar}"></nav>

<div class="container-fluid">

    <div class="container text-light text-center">
        <h2 class="text-center text-dark mt-5">Welcome to the users page</h2>
    </div>
    <h3 class="result" th:if="${allUsers.size() == 0}">
        There are no available users at the moment
    </h3>
    <section class="gallery">
        <div th:each="u : ${allUsers}" th:object="${u}">
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <h5 th:text="*{firstName}" class="card-title">First Name</h5>
                    <h5 th:text="*{lastName}" class="card-title">Last Name</h5>
                    <h5 th:text="*{email}" class="card-title">Username</h5>
                </div>
                <div>
                    <a sec:authorize="hasRole('ADMIN')" th:href="@{/users/make-admin/{id}(id = ${u.id})}" class="card-link">Make Admin</a>
                    <a sec:authorize="hasRole('ADMIN')" th:href="@{/users/make-manager/{id}(id = ${u.id})}" class="card-link">Make Manager</a>
                </div>
            </div>
        </div>
    </section>
</div>
<footer th:replace="~{/fragments/footer}"></footer>
</body>
</html>